.crearUsuario .ant-form-item-label,
.editarUsuario .ant-form-item-label {
  text-align: left !important;
}

.crearUsuario .ant-form-item,
.editarUsuario .ant-form-item {
  margin-bottom: 50px !important;
}

.crearUsuario .foto_perfil .ant-form-item,
.editarUsuario .foto_perfil .ant-form-item {
  margin-bottom: 0px !important;
}

.crearUsuario .anticon .anticon-upload,
.editarUsuario .anticon .anticon-upload {
  color: rgba(244, 100, 5, 0.5) !important;
}

.crearUsuario .ant-btn > .anticon + span,
.editarUsuario .ant-btn > .anticon + span {
  color: rgba(244, 100, 5, 0.5);
}

.crearUsuario .anticon .anticon-upload:hover,
.editarUsuario .anticon .anticon-upload:hover {
  color: rgba(244, 100, 5, 0.5) !important;
}

.crearUsuario .anticon .anticon-upload:active,
.editarUsuario .anticon .anticon-upload:active {
  color: rgba(244, 100, 5, 0.5) !important;
}

.crearUsuario span.anticon.anticon-upload,
.editarUsuario span.anticon.anticon-upload {
  color: rgba(244, 100, 5, 0.5);
}

.crearUsuario button.ant-btn.ant-btn-default:hover,
.editarUsuario button.ant-btn.ant-btn-default:hover {
  border-color: rgba(244, 100, 5, 0.5) !important;
}

.btnAgregarUsuario {
  border-color: rgba(244, 100, 5, 0.5) !important;
  background: transparent !important;
  color: rgba(244, 100, 5, 0.5) !important;
  border-radius: 20px !important;
}

.contenedor_main .ant-input-search-button {
  border-color: rgba(244, 100, 5, 0.5) !important;
  background: transparent !important;
  color: rgba(244, 100, 5, 0.5) !important;
}

.contenedor_main .ant-input:hover {
  border-color: rgba(244, 100, 5, 0.5) !important;
}

.contenedor_main .ant-result-info .ant-result-icon > .anticon {
  color: #fdc43f !important;
}

.cardUser {
  border: 1px solid #fdc43f;
  border-radius: 20px;
  margin: 1% 0%;
  background-color: #f6f6f6;
}

.cardUser .ant-list-item-meta-content h4 {
  color: #b29168;
}

.cardUser .correo {
  font-weight: bold;
  text-decoration: underline;
}

.cardUser .telefono {
  font-weight: bold;
}

.cardUser .ant-avatar {
  width: 40px !important;
  height: 40px !important;
  line-height: 32px !important;
  border-radius: 32% !important;
  margin-left: 10px !important;
}

.cardUser .activo {
  font-weight: bold;
  background-color: lightgreen;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  color: black;
  background-image: linear-gradient(
    to left top,
    #48bb78,
    #41c18d,
    #3ec7a2,
    #43ccb4,
    #4fd1c5
  );
  color: white;
}

.cardUser .deshabilitado {
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to left top,
    #e53e3e,
    #ec504f,
    #f26160,
    #f77170,
    #fc8181
  );
}

.cardUser svg {
  cursor: pointer;
}

.cardUser .editar {
  color: #fdc43f;
  cursor: pointer;
}

.cardUser .eliminar {
  color: red;
}

.eliminar_bloqueado {
  color: black;
  cursor:auto!important;
}

.cardUser .ant-list-item-meta {
  align-items: center !important;
}

.imgUser img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.contenedor_main .active > .page-link {
  background-color: transparent !important;
  color: #fdc43f !important;
  border-color: rgba(244, 100, 5, 0.5) !important;
}

.contenedor_main .page-link {
  background-color: transparent !important;
  color: #fdc43f !important;
  border-radius: 0px !important;
}

.contenedor_main .page-link:hover {
  background-color: transparent !important;
  color: #fdc43f !important;
  border-color: rgba(244, 100, 5, 0.5) !important;
}

.contenedor_main .lista {
  overflow: auto;
  height: 80vh;
}

.contenedor_main .pagination {
  display: none !important;
}
