.contenedor_main {
  position: absolute;
  left: 80px;
  z-index: 1;
  width: 94%;
}

.ant-btn,
.ant-btn:hover,
.ant-btn:focus {
  color: #fdc43f !important;
  border-color: #fdc43f !important;
  background: transparent !important;
}
