.background {
  background-image: url("../../assets/images/background_login.jpg");
  background-size: cover; 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.gradient{
    background-color: rgba(244,166,5,0.3)
}

.btn-primary {
    background: rgba(244,166,5,0.5)!important;
    border: none!important;
}