.icono_barber {
  width: 20px;
}

.cardBarber {
  border: 1px solid #fdc43f;
  border-radius: 20px;
  margin: 1% 0%;
  background-color: cornsilk;
}

.cardBarber .ant-list-item-meta-content h4 {
  color: #b29168;
}

.cardBarber .correo {
  font-weight: bold;
  text-decoration: underline;
}

.cardBarber .telefono {
  font-weight: bold;
}

.cardBarber .ant-avatar {
  width: 40px !important;
  height: 40px !important;
  line-height: 32px !important;
  border-radius: 32% !important;
  margin-left: 10px !important;
}

.cardBarber .activo {
  font-weight: bold;
  background-color: lightgreen;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  color: black;
  background-image: linear-gradient(
    to left top,
    #48bb78,
    #41c18d,
    #3ec7a2,
    #43ccb4,
    #4fd1c5
  );
  color: white;
}

.cardBarber .deshabilitado {
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to left top,
    #e53e3e,
    #ec504f,
    #f26160,
    #f77170,
    #fc8181
  );
}

.cardBarber .editar {
    color: #fdc43f;
  }
  
  .cardBarber .eliminar {
    color: red;
  }
  
  .cardBarber .ant-list-item-meta {
    align-items: center !important;